<!--The content below is only a placeholder and can be replaced.-->
<div class=" row">
  <div class="col-2">
    <img class="log pull-right img-responsive" src="assets/LogoJaveriana.png" alt="">
  </div>
  <div class="col-8">
    <div class="row-10">
      <br><br>
      <h1 class="conftitle">SuCertificado.com</h1>
    </div>
  </div>

</div>

<nav class="navbar navbar-dark bg-dark">
  <div class="row">
    <div class="col">
     <!--  <a [routerLink]="['/home']" class="navbar-brand">Inicio</a>-->
     <a  [routerLink]="['/examen']"  class="navbar-brand">Examen</a>
    </div>
    
  </div>
</nav>

<div class="row">
  <div class="col-1"></div>
  <div class="col-10 margintop">
    <router-outlet></router-outlet>
  </div>
  <div class="col-1"></div>
</div>