<h1>Mi perfil</h1>
<br/>
<table>

    <tr>
        <td rowspan="4" style="padding-right: 30px;">
            <img src="assets/perfil.png" width="150px" height="150px"/>
        </td>
        <th>
            Nombres:
        </th>
        <td>
            {{usuario.nombre}}
        </td>
    </tr>
    <tr>
        <th>
            Apellidos:
        </th>
        <td>
            {{usuario.apellido}}
        </td>
    </tr>
    <tr>
        <th>
            Documento:
        </th>
        <td>
            {{usuario.documento}}
        </td>
    </tr>

    <tr>
        <th>
            Usuario:
        </th>
        <td>
            {{usuario.Usuario}}
        </td>
    </tr>



</table>
