<h1>Catálogo de cursos y examenes</h1>
<mat-grid-list cols="3" rowHeight="1:1.1">
  <mat-grid-tile *ngFor="let curso of cursos;index as i">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{curso.NombreCurso}}</mat-card-title>
        <mat-card-subtitle>{{curso.AreaCurso}} </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="path[i]" alt="Examen" width="200px" height="250px">


      <mat-card-content>
        <p align="justify">
          {{comentarios[i]}}
        </p>
      </mat-card-content>


      <mat-card-actions>

        <button mat-button class="btnGuardar" (click)="comprar(curso)">COMPRAR $49.99</button>
        <button mat-button class="btnCategorias">Ver más</button>
        <button mat-button>SHARE</button>

      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>